#kpi .recharts-responsive-container {
  position: absolute;
  width: 258px;
  height: 263px;
  background-color: #FBFBFB;
  border-radius: 5px;
}
    
.contenairKPI {
  position: absolute;
  z-index: 1;
}
    
.contenairKPI h2 {
  font-size: 15px;
  margin-left: 30px;
  margin-top: 24px;
}

.disc {
  position: absolute;
  background-color: white;
  height: 140px;
  width: 140px;
  z-index: 1;
  left: 23%;
  top: 23%;
  border-radius: 70px;
}

.score {
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
    
.score h2 {
  font-size: 26px;
  color: #282D30;
  margin: 0;
}
    
.score h3 {
  font-size: 16px;
  color: #74798C;
  margin: 0;
}