.utilisateur a {
  color: black;
}

.composants {
  display: flex;
  flex-direction: row;
  margin-left: 109px;
  margin-top: 80px;
  width: 835px;
  justify-content: space-between;
}

#poids {
  width: 835px;
  height: 270px;
  background-color: #FBFBFB;
  margin-left: 109px;
  border-radius: 5px;
}

#objectifs {
  width: 258px;
  height: 200px;
  background-color: red;
  border-radius: 5px;
}

#radar {
  width: 258px;
  height: 263px;
  background-color: black;
  border-radius: 5px;
}

#cards {
  display: flex;
  flex-direction: column;
  /*height: 615px;*/
  justify-content: space-between;
  margin-left: 31px;
}

#kpi {
  position: relative;
  width: 258px;
  height: 263px;
  background-color: #FBFBFB;
  border-radius: 5px;
}

.text-heading {
  color: white;
  font-size: 15px;
  opacity: 0.5;
  padding-top: 29px;
  margin-left: 34px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 span {
  display: block;
}

.recharts-responsive-container {
  background-color: red;
  border-radius: 5px;
}