.valeurCard {
  font-size: 20px;
  font-weight: 700;
  color: #282D30;
  height: 24px;
  display: flex;
  align-items: center;
}

.descriptionCard {
  font-size: 14px;
  font-weight: 500;
  color: #74798C;
  height: 24px;
  display: flex;
  align-items: center;
}

.imageIconCard {
  width: 60px;
  height: 60px;
  margin-left: 32px;
  margin-right: 32px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #FBFBFB;
  width: 258px;
  height: 124px;
  align-items: center;
}