#navigation {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 87px;
  height: 91px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

#logo {
  width: 178px;
  margin-left: 28px;
  margin-top: 18px;
  margin-bottom: 12.07px;
}

#aside {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 117px;
  height: 316px;
  justify-content: space-between;
  margin-top: 150px;
}

#aside-principal {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 117px;
  height: 689px;
  justify-content: space-between;
}

#titre h2 {
  color: white;
  transform: rotate(-90deg);
  font-size: 12px;
  width: 145px;
}

#titre {
  height: 150px;
}

#asideUser {
  display: flex;
  flex-direction: row;
}

.nameUser {
  display: flex;
  flex-direction: row;
  margin-left: 109px;
  margin-top: 68px;
}

.nameUser h1 {
  font-size: 48px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.nameUser h2 {
  font-size: 48px;
  color: #FF0101;
  margin-top: 0;
  margin-bottom: 0;
}

.messageObjectifs h2 {
  margin-left: 109px;
  margin-bottom: 77px;
  margin-top: 41px;
  font-size: 18px;
  font-weight: 400;
}

.poidsComposantsCards {
  display: flex;
  flex-direction: row;
}

#cards {
  display: flex;
  flex-direction: column;
  height: 595.44px;
  justify-content: space-between;
  margin-left: 31px;
}

@media screen and (min-width: 1439px) {
  #aside-principal {
    height: 931px;
  }

  #aside {
    margin-top: 256px;
  }
}