#header-principal {
  width: 1440px;
}

#navigation {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*padding-right: 87px;*/
  height: 91px;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

#logo {
  width: 178px;
  margin-left: 28px;
  margin-top: 18px;
  margin-bottom: 12.07px;
}

#titre h2 {
  color: white;
  transform: rotate(-90deg);
  font-size: 12px;
  font-weight: 500;
  width: 145px;
}

#titre {
  height: 150px;
}

#asideUser {
  display: flex;
  flex-direction: row;
}

.communaute {
  margin-right: 87px;
}