#poids .recharts-responsive-container {
  background-color: #FBFBFB;
  border-radius: 5px;
}

#poids .yAxis .recharts-cartesian-axis-line {
  display: none;
}

#poids .recharts-cartesian-axis-tick-line {
  display: none;
}