  #poids .recharts-responsive-container {
    background-color: #FBFBFB;
    border-radius: 5px;
  }
  
  #poids .recharts-text {
    fill: black;
    font-size: 12px;
  }
  
  #poids .recharts-layer .recharts-bar-rectangle {
    border-radius: 5px;
  }
  
  #poids .title-heading {
    font-size: 15px;
    margin-left: 20px;
  }
  
  #poids .recharts-legend-icon {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
  
  #poids .yAxis .recharts-cartesian-axis-line {
    display: none;
  }
  
  #poids .recharts-cartesian-axis-tick-line {
    display: none;
  }