.titre {
  margin-top: 50px;
}

.titre h1 {
  text-align: center;
}

.choixUtilisateur a {
  color: black;
}

.choixUtilisateur {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  margin-top: 50px;
}